

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Welcome </h2>
                <h2>Write a new blog!</h2>
                <form class="blogData">
                    <div class="form-group">
                        <label for="blogData">City</label>
                        <input type="city" class="form-control" id="city-input" placeholder="City name" />
                    </div>
                    <div class="form-group">
                        <label for="blogData">Establishment</label>
                        <input type="establishment" class="form-control" id="establishment-input"
                            placeholder="Establishment name" />
                    </div>
                    <div class="form-group">
                        <label for="blogData">Items Ordered</label>
                        <input type="itemsOrdered" class="form-control" id="itemsOrdered-input"
                            placeholder="Items Ordered" />
                    </div>
                    <div class="form-group">
                        <label for="blogData">Rating</label>
                        <input type="rating" class="form-control" id="rating-input" placeholder="Rating 1-5" />
                    </div>
                    <div class="form-group">
                        <label for="blogData">Blog</label>
                        <input type="blog" class="form-control" id="blog-input" placeholder="Blog" />
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>

            <div class="col-3">
                <p>My email address is: <span class="member-name"></span></p>
            </div>
        </div>
    </div>

    
    <script type="text/javascript" src="js/members.js"></script>
